*{
  margin:0px;
  border:0px;
  box-sizing: border-box;
  

}
@media only screen and (max-width: 600px) {
  *{
overflow-x: hidden;
  }
  .title{
    margin-top: -138px;
  }
  .titlehead{
display: list-item;
  }
}

